<table class="center">
  <thead>
    <tr>
      <th class="has-text-centered">Nome</th>
      <th class="has-text-centered">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of listProducts">
      <td class="has-text-centered">{{p.title}}</td>
      <td class="has-text-centered">
        <div class="buttons is-centered">
          <button mat-raised-button class="details" id="{{p._id}}">Ver produto</button
          ><button mat-raised-button class="margin edit" id="{{p._id}}">Editar</button
          ><button
            mat-raised-button
            class="button is-danger margin delete"
            id="{{p._id}}"
          >
            Deletar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
